SECRET_KEY=''
ALLOWED_HOSTS=*
DEBUG=False
EMAIL_BACKEND=django.
EMAIL_HOST=smtp.
EMAIL_PORT=5 
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False 
EMAIL_HOST_USER=noreply.com.au  
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=PropStart <au>